@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  width: 100%;
  max-width: none; /* pastikan tidak ada max-width sebelum breakpoint pertama */
  margin-inline: auto;

  @media (min-width: 1000px) {
    max-width: 1000px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
  @media (min-width: 1536px) {
    max-width: 1536px;
  }
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 1000px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html {
  scroll-behavior: smooth;
}

.no-scrollbars::-webkit-scrollbar {
  display: none;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.no-scrollbars {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reem-kufi-fun {
  font-family: "Reem Kufi Fun", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "LPMQ";
  src: url("https://uminabdillah.github.io/fonts/lpmq.eot");
  src:
    url("https://uminabdillah.github.io/fonts/lpmq.eot?#iefix") format("embedded-opentype"),
    url("https://uminabdillah.github.io/fonts/lpmq.ttf") format("truetype");
  font-weight: 400;
  font-weight: normal;
  font-display: swap;
}

.arab {
  font-size: 20px;
  line-height: 65px;
  font-family: LPMQ, "Traditional Arabic", Tahoma, sans-serif;
  font-weight: 500;
  text-align: right;
  direction: rtl;
}

.arab-0 {
  font-family: LPMQ, "Traditional Arabic", Tahoma, sans-serif;
  font-weight: 500;
  direction: rtl;
}
.arabkali {
  font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
.menu-horizontal ul::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3b4451;
  border-radius: 4px;
  height: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0085d7;
}

.hidescroll::-webkit-scrollbar {
  display: none;
}

html {
  scroll-padding-top: 80px;
}
